#about{
    position: relative;
    z-index: 996;
}
.about-content{
    padding-top: 10rem;
    
    position: relative;
    z-index: 1000;
}
.about-content h2{
    padding-bottom: 2rem;
}
#about-img-div{
    position: absolute;
    /* top:55rem; */
    left: 0;
    width: 100%;
    z-index: 1;
    height: 35rem;  
    
}
#about-img-div img{
    width: 100%;
    height: 35rem;
}

/* media query */
@media (max-width: 48rem){
    .about-content {
        padding-top: 5rem;
    }
}








/* end media query */