#skills-and-tools{
    position: relative;
    
}

#skills-and-tools .container-fluid{
    padding-top: 5rem;
}
#skills h2{
  
    /* padding-bottom: 2rem; */
    line-height: 12rem;
}
.skill-icon{
    width: 100% !important;
    /* padding-left: 3rem;
    padding-right: 3rem; */
}
#skills ul, #tools ul{
    padding-left: 0;
    list-style: none;
}

#skills .divider1,#skills .divider2{
    margin-left: 0;
}

#skills li, #tools li{
    padding-left: 3rem;
    padding-right: 3rem;
}


#skills h5{
    text-align: center !important;
}

#skills i{   
    line-height: 7rem;
    width: 7rem;
    height: 7rem;
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: var(--color-primary-400);
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
    cursor: pointer;
    transition: width  0.25s ease-out,height  0.25s ease-out,font-size  0.25s ease-out;
}
#skills i:hover,
#tools i:hover{
    width: 7.5rem;
    height: 7.5rem;
    font-size: 5.5rem;
    line-height: 7.5rem;
}

#tools{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#tools h3, #database h3{
    padding-bottom: 2rem;
}
#tools ul{
    width: 100%;
}


#tools i{
    line-height: 5.2rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: var(--color-primary-400);
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
    cursor: pointer;
    transition: width  0.25s ease-out,height  0.25s ease-out,font-size  0.25s ease-out;
}
#tools i:hover{
    width: 5.5rem;
    height: 5.5rem;
    font-size: 3.5rem;
    line-height: 5.7rem;
}

#database{
    position: relative;
}

#database ul{
    width: 100%;
    padding-left: 0;
    list-style: none;
}

#database i{
    line-height: 8rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: var(--color-primary-400);
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
    cursor: pointer;
    transition: width  0.25s ease-out,height  0.25s ease-out,font-size  0.25s ease-out;
}

#database i:hover{
    width: 9rem;
    height: 9rem;
    font-size: 6rem;
    line-height: 9rem;
}

  