#home {
  margin-top: 6rem;
  height: 80vh;
}

#landing-img-div {
  position: absolute;
  top: 0;
  left: 0;
}
#landing-img-div img {
  width: 100%;
  min-width: 70rem;
}
#profile-img p {
  padding-top: 8rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
#profile-img img {
  display: inline-block;
  width: 10rem;
  border-radius: 16px;
  overflow: hidden;
  border: 6px solid var(--color-gray-600);
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  cursor: pointer;
  transition: transform 0.25s ease-out;
}
#profile-img img:hover {
  border: 6px solid var(--color-primary-400);
  transform: scale(1.05);
}
#profile-info {
  display: flex;
  justify-content: space-between;
}
#profile-banner-soc-media {
  margin: 0.25rem;
}
#profile-banner-function {
  padding-top: 20rem;
  width: 25%;
  min-width: 27rem;
}

#banner-profile {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 100px;
  position: relative;
  z-index: 997;
}

#banner-greeting {
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
  line-height: 0;
  padding-bottom: 2rem;
}

#banner-name {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 50%;
}

#banner-position,
#btn-to-resume {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

#btn-to-resume {
  padding-top: 1rem;
  text-transform: capitalize;
}

#btn-resume {
  text-decoration: none;
  background-color: var(--color-primary-400);
  color: white;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 4px;
  box-shadow: 8px 8px 8px rgba(12, 11, 11, 0.6);
  transition: padding 0.25s ease-out;
}

#btn-resume:hover {
  padding: 12px 12px;
  background-color: #6fb9da;
}
#social-media {
  display: flex;
  padding-left: 0;
  list-style: none;
  position: relative;
  z-index: 997;
}
.soc-med-icon {
  padding-right: 2rem;
}
.soc-med-icon i {
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--color-gray-600);
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  transition: transform 0.25s ease-out;
  transition: color 0.25s ease out;
}

.soc-med-icon i:hover {
  background-color: var(--color-primary-400);
  transform: scale(1.05);
  cursor: pointer;
}

#profile-function {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-primary-400);
  padding: 2rem 2.5rem;
  position: relative;
  z-index: 997;
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  border-radius: 8px;
}

#profile-function li {
  padding-bottom: 1rem;
}

/* media queries */
@media (max-width: 71.25rem) {
  #landing-img-div {
    left: -20rem;
    min-width: 10rem;
  }

  #landing-img-div img {
    min-width: 10rem;
  }

  #banner-name {
    line-height: 100%;
  }
}
@media (max-width: 66rem) {
  .profile-text {
    text-align: center;
  }

  .soc-med-icon {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #profile-img p {
    padding-top: 2rem;
  }
  #profile-info {
    flex-direction: column;
    align-items: center;
  }
  #social-media {
    justify-content: center;
  }
  #profile-banner-function {
    padding-top: 2rem;
  }
}
@media (max-width: 48rem) {
}
@media (max-width: 26rem) {
  #profile-banner-function {
    width: 100%;
    min-width: 22rem;
  }
}
/* end media queries */
